<?xml version="1.0" encoding="utf-8" ?>
<PLC>
	<!-- 远程 -->
	<ip address="5.78.115.144.1.1"/>
	<!-- 本地 -->
	<!-- <ip address="127.0.0.1.1.1"/> -->
	<alarm1 index="0" error="旋转电机报警"/>
	<alarm1 index="1" error="升降电机报警"/>
	<alarm1 index="2" error="收发电机报警"/>
	<alarm1 index="3" error="空压报警"/>
	<alarm1 index="4" error=""/>
	<alarm1 index="5" error=""/>
	<alarm1 index="6" error="旋转电机编码器报警"/>
	<alarm1 index="7" error="升降电机编码器报警"/>
	<alarm1 index="8" error="收发电机编码器报警"/>
	<alarm1 index="9" error=""/>
	<alarm1 index="10" error=""/>
	<alarm1 index="11" error=""/>
	<alarm1 index="12" error=""/>
	<alarm1 index="13" error=""/>
	<alarm1 index="14" error=""/>
	<alarm1 index="15" error=""/>
	<alarm2 index="0" error="1号位A3阀打开超时报警"/>
	<alarm2 index="1" error="2号位A3阀打开超时报警"/>
	<alarm2 index="2" error="3号位A3阀打开超时报警"/>
	<alarm2 index="3" error="4号位A3阀打开超时报警"/>
	<alarm2 index="4" error="5号位A3阀打开超时报警"/>
	<alarm2 index="5" error="6号位A3阀打开超时报警"/>
	<alarm2 index="6" error="7号位A3阀打开超时报警"/>
	<alarm2 index="7" error="8号位A3阀打开超时报警"/>
	<alarm2 index="8" error="9号位A3阀打开超时报警"/>
	<alarm2 index="9" error="1号位A3阀关闭超时报警"/>
	<alarm2 index="10" error="2号位A3阀关闭超时报警"/>
	<alarm2 index="11" error="3号位A3阀关闭超时报警"/>
	<alarm2 index="12" error="4号位A3阀关闭超时报警"/>
	<alarm2 index="13" error="5号位A3阀关闭超时报警"/>
	<alarm2 index="14" error="6号位A3阀关闭超时报警"/>
	<alarm2 index="15" error="7号位A3阀关闭超时报警"/>
	<alarm3 index="0" error="8号位A3阀关闭超时报警"/>
	<alarm3 index="1" error="9号位A3阀关闭超时报警"/>
	<alarm3 index="2" error="1号位A6阀打开超时报警"/>
	<alarm3 index="3" error="2号位A6阀打开超时报警"/>
	<alarm3 index="4" error="3号位A6阀打开超时报警"/>
	<alarm3 index="5" error="4号位A6阀打开超时报警"/>
	<alarm3 index="6" error="5号位A6阀打开超时报警"/>
	<alarm3 index="7" error="6号位A6阀打开超时报警"/>
	<alarm3 index="8" error="7号位A6阀打开超时报警"/>
	<alarm3 index="9" error="8号位A6阀打开超时报警"/>
	<alarm3 index="10" error="9号位A6阀打开超时报警"/>
	<alarm3 index="11" error="1号位A6阀关闭超时报警"/>
	<alarm3 index="12" error="2号位A6阀关闭超时报警"/>
	<alarm3 index="13" error="3号位A6阀关闭超时报警"/>
	<alarm3 index="14" error="4号位A6阀关闭超时报警"/>
	<alarm3 index="15" error="5号位A6阀关闭超时报警"/>
	<alarm4 index="0" error="6号位A6阀关闭超时报警"/>
	<alarm4 index="1" error="7号位A6阀关闭超时报警"/>
	<alarm4 index="2" error="8号位A6阀关闭超时报警"/>
	<alarm4 index="3" error="9号位A6阀关闭超时报警"/>
	<alarm4 index="4" error=""/>
	<alarm4 index="5" error="程序报错"/>
	<alarm4 index="6" error=""/>
	<alarm4 index="7" error=""/>
	<alarm4 index="8" error="升降传感器故障"/>
	<alarm4 index="9" error=""/>
	<alarm4 index="10" error="舱门传感器故障"/>
	<alarm4 index="11" error=""/>
	<alarm4 index="12" error="旋转位传感器故障"/>
	<alarm4 index="13" error="夹爪开传感器故障"/>
	<alarm4 index="14" error="夹爪关传感器故障"/>
	<alarm4 index="15" error=""/>
	<alarm4 index="0" error="请先升起夹爪"/>
	<alarm4 index="1" error="请先运行密封舱"/>
	<alarm4 index="2" error="请先旋转到工位"/>
	<alarm4 index="3" error="请确认瓶子到岗"/>
	<alarm4 index="4" error=""/>
	<alarm4 index="5" error=""/>
	<alarm4 index="6" error=""/>
	<alarm4 index="7" error=""/>
	<alarm4 index="8" error="收发电机位置超限"/>
	<alarm4 index="9" error="收发电机运行位置超限"/>
	<alarm4 index="10" error="保护位置起点设置错误"/>
	<alarm4 index="11" error="保护位置始点设置错误"/>
	<alarm4 index="12" error="密封舱位置设置错误"/>
	<alarm4 index="13" error=""/>
	<alarm4 index="14" error=""/>
	<alarm4 index="15" error=""/>
	<alarm6 index="0" error="通讯报警1备用"/>
	<alarm6 index="1" error="通讯报警2备用"/>
	<alarm6 index="2" error="通讯报警3备用"/>
	<alarm6 index="3" error="通讯报警4备用"/>
	<alarm6 index="4" error="通讯报警5备用"/>
	<alarm6 index="5" error="通讯报警6备用"/>
	<alarm6 index="6" error="通讯报警7备用"/>
	<alarm6 index="7" error="通讯报警8备用"/>
	<alarm6 index="8" error="通讯报警9备用"/>
	<alarm6 index="9" error="通讯报警10备用"/>
	<alarm6 index="10" error="通讯报警11备用"/>
	<alarm6 index="11" error="通讯报警12备用"/>
	<alarm6 index="12" error="通讯报警13备用"/>
	<alarm6 index="13" error="通讯报警14备用"/>
	<alarm6 index="14" error="通讯报警15备用"/>
	<alarm6 index="15" error="通讯报警16备用"/>
</PLC>